.TodoCounter {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    margin: 0;
    padding: 48px;
}
.TodoCounter--icon {
    vertical-align: bottom;
}
.TodoCounter--loading {
    opacity: 25%;
}